@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #6D5D4B;
  color: black;
  font-weight: 400;
  line-height: 1.6; }

/*
.stories {
    //grid-column: center-start / center-end;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2em;
    margin: 5rem 5rem;
}   
*/
.stories {
  background-color: #f9f7f6;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(50rem, auto)); }

.story {
  display: flex;
  min-width: 50rem;
  min-height: 65rem;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/dest/images/background.jpeg);
  background-size: cover;
  padding: 2rem 2rem;
  position: relative;
  overflow: hidden; }
  .story__label {
    margin: 1rem 0rem;
    background-color: #FFDD2D;
    border-radius: 35%;
    font-size: 1.5rem;
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .story__header {
    color: white;
    font-weight: 900;
    font-size: 3.7rem;
    font-family: "Montserrat", sans-serif; }
  .story__text {
    color: white;
    font-weight: 400;
    font-size: 2.0rem;
    font-family: "Roboto", sans-serif; }
  .story__subcard {
    position: relative;
    background-color: white;
    border-radius: 25%;
    margin-top: 7rem;
    margin-left: 2rem;
    margin-bottom: 7rem;
    padding: 2rem 2rem;
    display: flex; }
    .story__subcard__photo {
      width: 8rem;
      height: 8rem;
      border-radius: 50%; }
    .story__subcard__caption {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
    .story__subcard__header {
      font-weight: 500;
      font-size: 2rem; }
    .story__subcard__text {
      font-weight: 400;
      font-size: 1.6rem;
      z-index: 100; }
    .story__subcard__fig_1 {
      width: 15rem;
      height: 15rem;
      position: absolute;
      top: -9rem;
      left: -4rem; }
    .story__subcard__fig_2 {
      width: 15rem;
      height: 15rem;
      position: absolute;
      top: -9rem;
      left: calc(100% - 15rem); }
    .story__subcard__fig_3 {
      width: 15rem;
      height: 15rem;
      z-index: 2;
      position: absolute;
      top: 45%;
      left: calc(100% - 15rem); }
  .story__fig_2 {
    width: 30rem;
    height: 30rem;
    position: absolute;
    bottom: -12rem;
    left: -10rem;
    -webkit-filter: blur(3px);
    filter: blur(3px); }
